body{
	background-color:sienna;
}
#corner{
	float:left;
	background-image:url("images/logo.png");
	height:400px;
	width:200px;
	margin-top:6px;
	margin-left:10px;
	background-repeat:no-repeat;
}
#demo{
	font-size:30px;
	color:white;
}

h1{
	color:white;
}
textarea{
	margin-left:20px;
	height:100px;
	width:250px;
}
input{
	margin-left:20px;
	height:40px;
	width:250px;
	font-size:20px;
}
#facts p::first-letter{
	font-size:30px;
	color:red;
}
#site h2:hover{
	background-color:sienna;
	font-weight:bold;

}
button{
	margin-left:200px;
	background-color:black;
	height:30px;
	width:80px;
	color:white;
}
button:hover{
	background-color:orange;
	font-size:20px;
	color:black;
	font-style:myFirstFont;
	font-weight:bold;
}
#mess{
	background-color:sienna;
	opacity:0.7;
	float:right;
	height:390px;
	width:300px;
	margin-top:180px;
	margin-right:40px;
	border-radius:8px 8px 8px 8px;
}
#site{
	background-color:black;
	opacity:0.7;
	margin-top:320px;
	height:200px;
	width:700px;
	padding:20px 50px;
	position:absolute;
	
}
#gallery img{
	opacity:0.6;

}
#gallery img:hover{
	opacity:1.0;
}
#gallery h1{
	color:white;
	font-size:40px;
	margin-left:50px;
}
#Plans h1{
	color:white;
	font-size:40px;
	margin-left:50px;
}
#specs h1{
	color:black;
	font-size:40px;
	margin-left:50px;
	margin-top:10px;
	padding:30px 30px;
}
#s1{
	background-color:green;
	height:30px;
	width:400px;
	border-radius:4px 4px 4px 4px;
	margin-left:90px;
	padding:10px 10px;


}
#s11{
	font-size:10px;
	color:black;
	background-color:green;
	height:30px;
	width:400px;
	border-radius:4px 4px 4px 4px;
	margin-left:90px;
	padding:10px 10px;

}
#s1 a{
	text-decoration:none;
	font-size:20px;
	color:white;
}

h3{
	color:white;
	font-size:30px;

}
h2{
	
	color:white;
	font-size:35px;
}
#header{
background-image:url("images/bg3.jpg");
background-repeat:no-repeat;
height:660px;
width:1250px;
margin-top:0px;
}
#location{
height:450px;
width:1250px;
	background-repeat:no-repeat;
background-color:orange;
opacity:0.7;

margin-top:none;	
}
#facts img{
	float:left;
	height:350px;
	width:300px;
	margin-left:10px;
	margin-top:40px;
	transition:transform 2s;
}
#facts img:hover{
	transform:rotate(90sdeg);
}
#gallery{
	background-repeat:no-repeat;
background-color:sienna;


margin-top:none;
}
#footer{
	background-image:url("images/girl.jpg");
	height:100px;
	width:1250px;
}
#location img{
	float:left;
	height:400px;
	width:400px;
	margin-top:20px;
	margin-left:30px;
}
#gallery li{
display:inline;
padding:7px 10px;
}
#footer h1{
	text-align:center;
	color:white;
	font-size:30px;
	margin-top:2px;
}
#gallery li img{
	height:180px;
	width:200px;

}
#specs{
	height:650px;
width:1250px;
	background-repeat:no-repeat;
background-color:white;

margin-top:none;
}
#plans{
	background-repeat:no-repeat;
background-color:sienna;
height:250px;
}
#facts{
background-repeat:no-repeat;
background-color:white;
height:460px;
width:1250px;
margin-top:none;
transition:transform 0.5s;
}
#facts:hover{
	transform:rotate(20deg);
}
#facts h1{
	font-size:40px;
	color:black;
	margin-top:1px;
	text-align:left;
}
#facts p{
	font-size:20px;
	color:black;
	margin-top:1px;
	margin-left:350px;
}



#nav{
	background-color:none;
	height:70px;
	margin-left:100px;
	width:1050px;


}
li{
	display:inline;
	color:white;
	font-size:30px;
	padding:10px 10px 10px;
	text-decoration:none;
}
li a{
	color:white;
	text-decoration:none;

}
li a:hover{
background-color:sienna;